<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>Email Analysis System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/style2/css/style.css">
    <link rel="stylesheet" href="/static/style2/css/general_elements.css">
    <link rel="stylesheet" href="/static/style2/css/prism.css">
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/style2/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/style2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/timeline.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/timeline.css">
    <script>
        $(document).ready(function() {
            // see http://almende.github.io/chap-links-library/js/timeline/doc/
            var timeline = new links.Timeline(document.getElementById('my-timeline'));
            var options = {
                  "width":  "100%",
                  "height": "50%",
                  "style": "box" // optional
            };

            $.getJSON('{% if current_folder %}{% url "email_timeline_json" current_folder %}{% else %}{% url "email_timeline_json" %}{% endif %}', function(data){
                $(data).each(function(index, element){
                    element['start'] = new Date(element['date']);
                    element['content'] = '<a class="mailtimeline" href="'+element.url+'">'+element.subject+'</a>';
                })
                timeline.draw(data, options);
            })
        });
    </script>

  </head>

  <body>

  <div class="container-header">
    <div class="row">
        <div class="span5">
          <h2 >邮件分析系统</h2>
        </div>
        <div class="span5 pull-right">
            <nav id="nav">
                

                <nav class="nav-util">

                    <a href="{% url 'user_edit' %}">{{ user.username }}</a>
                    <a href="{% url 'logout' %}">logout</a>
                </nav>


            </nav>
        </div>
    </div>
  </div>

    <div id="content">
        

    <div class="nav-sub-nav-wrap">

        <nav class="nav-sub-nav">
            <div >

                <div class="span2">
                  <a href="{% if current_folder %}{% url 'email_list' current_folder %}{% else %}{% url 'email_list' %}{% endif %}" >
                      <span>邮件管理</span>
                  </a>
                </div>

 {% if user.is_superuser %}
                <div class="span2">
                  <a href="{% url 'group_list' %}" >
                      <span>组管理</span>
                  </a>
                </div>
 {% endif %}
                                {% if user.is_superuser %}
                <div class="span2">
                  <a href="{% url 'user_list' %}" >
                      <span>用户管理</span>
                  </a>
                </div>
 {% else %}
                <div class="span2">
                  <a href="{% url 'user_edit' %}" >
                      <span>用户信息</span>
                  </a>
                </div>
 {% endif %}

                <div class="span2">
                  <a href="{% if current_folder %}{% url 'email_timeline' current_folder %}{% else %}{% url 'email_timeline' %}{% endif %}" class="active">
                      <span>邮件时间轴</span>
                  </a>
                </div>

                <div class="span2">
                  <a href="{% if current_folder %}{% url 'email_statistics' current_folder %}{% else %}{% url 'email_statistics' %}{% endif %}" >
                      <span>邮件统计图</span>
                  </a>
                </div>

                <div class="span2">
                  <a href="{% if current_folder %}{% url 'email_relation' current_folder %}{% else %}{% url 'email_relation' %}{% endif %}" >
                      <span>邮件关系图</span>
                  </a>
                </div>
                
            </div>
        </nav>
    </div>
 

<div class="container-main">
  <div class="span3">
      <div class="container-sidebar-header">
          用户邮箱  
      </div>
      <div class="container-sidebar-content">
          <ul>

            {% for folder in folders%}
              {% if folder = current_folder %} 
                <li class="active"><a href="{% url 'email_timeline' folder %}">{{ folder |  truncatechars:30 }}</a></li>

              {% else %}
                <li><a href="{% url 'email_timeline' folder %}">{{ folder |  truncatechars:30 }}</a></li>
              {% endif %}
            {% endfor %} 
          </ul>
      </div>
  </div>

  <div class="offset3 rightoffset1">
   
      <div class="container-main-header">
              邮件时间轴 
      </div>
      <div class="container-main-content">
        	<div id="my-timeline"></div>
       
      </div>
   
  </div>       
</div>

   
  </body>
</html>

