<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>Email Analysis System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/style2/css/style.css">
    <link rel="stylesheet" href="/static/style2/css/general_elements.css">
    <link rel="stylesheet" href="/static/style2/css/prism.css">
    <script type="text/javascript" src="/static/js/search.js"></script>

  </head>

  <body>




  <div class="container-header">
    <div class="row">
        <div class="span5">
          <h2 >邮件分析系统</h2>
        </div>
        <div class="span5 pull-right">
            <nav id="nav">
                

                <nav class="nav-util">

                    <a href="{% url 'user_edit' %}">{{ user.username }}</a>
                    <a href="{% url 'logout' %}">logout</a>
                </nav>


            </nav>
        </div>
    </div>
  </div>

    <div id="content">
        

    <div class="nav-sub-nav-wrap">

        <nav class="nav-sub-nav">
            <div >

                <div class="span2">
                  <a href="{% if current_folder %}{% url 'email_list' current_folder %}{% else %}{% url 'email_list' %}{% endif %}" >
                      <span>邮件管理</span>
                  </a>
                </div>

 {% if user.is_superuser %}
                <div class="span2">
                  <a href="{% url 'group_list' %}" class="active">
                      <span>组管理</span>
                  </a>
                </div>
 {% endif %}
                                {% if user.is_superuser %}
                <div class="span2">
                  <a href="{% url 'user_list' %}" >
                      <span>用户管理</span>
                  </a>
                </div>
 {% else %}
                <div class="span2">
                  <a href="{% url 'user_edit' %}" >
                      <span>用户信息</span>
                  </a>
                </div>
 {% endif %}

                <div class="span2">
                  <a href="{% if current_folder %}{% url 'email_timeline' current_folder %}{% else %}{% url 'email_timeline' %}{% endif %}" >
                      <span>邮件时间轴</span>
                  </a>
                </div>

                <div class="span2">
                  <a href="{% if current_folder %}{% url 'email_statistics' current_folder %}{% else %}{% url 'email_statistics' %}{% endif %}" >
                      <span>邮件统计图</span>
                  </a>
                </div>

                <div class="span2">
                  <a href="{% if current_folder %}{% url 'email_relation' current_folder %}{% else %}{% url 'email_relation' %}{% endif %}" >
                      <span>邮件关系图</span>
                  </a>
                </div>
                
            </div>
        </nav>
    </div>
 

<div class="container-main">
  
  <div class="leftoffset1 rightoffset1">
    
      <div class="container-main-header">
              修改分组  
      </div>
      <div class="container-main-content">
      	<form action="" method="post">
	        <table class="table-striped">
	          <tbody>

	            <tr>
	              <td width="15px">组名</th>
	              <td width="30px"> {{ form.groupname.value }}</th>
	            </tr>

	            <tr>

	              <td width="15px">组长</th>
	              <td width="30px">{{ form.managers| default:"暂无" }}</th>
	            </tr>
	          </tbody>
	          
	        </table>
        
        	<div class="container-header">
          
            	<input type="submit" class="btn-delete" value="提交" />
                <input type="reset" class="btn-delete" value="重置"  />  
         
        	</div>
        </form>
      </div>
    
  </div>       
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/style2/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/style2/js/bootstrap.min.js"></script>
  </body>
</html>

