<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title>邮件后台管理</title>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
   <script type="text/javascript" src="/static/js/search.js"></script>
</head>

	
<body>
<!-- Header -->
<div id="header">
	<div class="shell">
		<!-- Logo + Top Nav -->
		<div id="top">
			<h1>后台邮件管理</h1>
			<div id="top-navigation">
				欢迎 <a href="{% url 'user_edit' %}"><strong>{{ user.username }}</strong></a>
				<span>|</span>
				<a href="{% url 'logout' %}">退出</a>
			</div>
		</div>
		<!-- End Logo + Top Nav -->
		
		<!-- Main Nav -->
		<div id="navigation">
			<ul>
			    <li><a href="{% url 'email_list' %}"><span>邮件管理</span></a></li>
			                       {% if user.is_superuser %}
				 <li><a href="{% url 'group_list' %}"><span>组管理</span></a></li>
                                {% endif %}
                                {% if user.is_superuser %}
			    <li><a href="{% url 'user_list' %}" class="active"><span>用户管理</span></a></li>
			    						  {% else %}
			    <li><a href="{% url 'user_edit' %}" class="active"><span>用户信息</span></a></li>
			                       {% endif %}
             <li><a href="{% url 'email_timeline' %}"><span>事件时间轴</span></a></li>
             <li><a href="{% url 'not_implemented' %}"><span>邮件统计图</span></a></li>
             <li><a href="{% url 'email_relation' %}"><span>邮件关系图</span></a></li>
			</ul>
		</div>
		<!-- End Main Nav -->
	</div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
	<div class="shell">
		
		<!-- Main -->
		<div id="main">
			<div class="cl">&nbsp;</div>
			

			<!-- Content -->
			<div id="content">			
				<!-- Box -->
				<div class="box">		
					<!-- Box Head -->
					<div class="box-head">
						<h2 class="left">用户信息管理</h2>
					</div>
					<!-- End Box Head -->	
					

					<!-- Table -->
					<div class="table">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th>用户名</th>
								<th>所属组</th>
								<th>设备</th>
								<th>管理</th>
								<th width="110" class="ac">用户信息修改</th>
								<th width="110" class="ac">用户信息删除</th>
							</tr>
                            {% for user in users %}
                        <tr>
								<td>{{ usr }}</td>
								<td>{{ usr.groups }}</td>
								<td>{{ usr.device_ids| join:", " }}</td>
								<td>{{ usr.groups_in_charge| join:", " }}</td>
								<td align="center"><a href="{% url 'user_edit' %}" class="ico edit">Edit</a></td>
								<td align="center"><a href="#" class="ico del">Delete</a></td>		
							   </tr>
                            {% endfor %}
						</table>					
						
						<!-- Pagging -->
                        {% if is_paginated %}
                        <div class="pagination">
                            <span class="step-links">
                            {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                            {% if page_obj.page_obj.num_pages > 1%}
                            Page {{ page_obj.number }} of {{ page_obj.page_obj.num_pages }}.
                            {% endif %}
                            </span>
                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                            </span>
						</div>
                        {% endif %}
						<!-- End Pagging -->
						
					</div>
					<!-- Table -->
					
				</div>
				<!-- End Box -->

			</div>
			<!-- End Content -->
					
			<div class="cl">&nbsp;</div>			
		</div>
		<!-- Main -->
	</div>
</div>
<!-- End Container -->

<!-- Footer -->
<div id="footer">
	<div class="shell">
	</div>
</div>
<!-- End Footer -->
	
</body>
</html>




